##Importância da Limpeza e Tratamento de Dados

No dia dia do cientista de dados obtivemos dados vindos com valores ausentes erros de digitações e inconsistências

In [58]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [59]:
# Criando um DataFrame com algumas idades para exemplo
dados = {
    'Idade': [25, 30, 35, 400, 45, 50, 554, 60, 60, 24, 233, 70, 26]
}

df = pd.DataFrame(dados)
print(df, "\n")

df['Idade'].mean() # média de idade de 124 anos !erro evidente!

    Idade
0      25
1      30
2      35
3     400
4      45
5      50
6     554
7      60
8      60
9      24
10    233
11     70
12     26

np.float64(124.0)

In [60]:
dados = {
    'Idade': [25, 30, 35, 400, 45, 50, 554, 60, 60, 24, 233, 70, 26],
    'Cidade': ['São Paulo', 'Salvador', 'Curitiba', 'Sao Paulo', 'Salvador', 'Curitiba', 'Sao Paulo', 'Salvador', 'salvador', 'Curtiba','São Paulo','São Paulo','salvador']
}
          # Os erros de digitações mais comuns são a falta da primeira letra maiuscula, falta de acentos e deslizes de teclado.
df = pd.DataFrame(dados)
print(df)

    Idade     Cidade
0      25  São Paulo
1      30   Salvador
2      35   Curitiba
3     400  Sao Paulo
4      45   Salvador
5      50   Curitiba
6     554  Sao Paulo
7      60   Salvador
8      60   salvador
9      24    Curtiba
10    233  São Paulo
11     70  São Paulo
12     26   salvador

In [61]:
df.groupby('Cidade')['Idade'].mean().reset_index()
# inconsistência gerando partição de cidades

      Cidade       Idade
0   Curitiba   42.500000
1    Curtiba   24.000000
2   Salvador   45.000000
3  Sao Paulo  477.000000
4  São Paulo  109.333333
5   salvador   43.000000

In [67]:
dados = {
    'Idade': [25, 30, 35, 400, 45, 50, 554, 60, 60, 24, 233, 70, 26],
    'Cidade': ['São Paulo', 'Salvador', 'Curitiba', 'Sao Paulo', 'Salvador', 'Curitiba', 'Sao Paulo', 'Salvador', 'salvador', 'Curtiba','São Paulo','São Paulo','salvador'],
    'Salario': ['1200,0', '0', '4000,0', '0', '5000,0', '1500,0', '0', '0', '0', '3000,0','2500,0','3000,0','0']
}
    # Dados ausentes ou não informados
df = pd.DataFrame(dados)
print(df)

    Idade     Cidade Salario
0      25  São Paulo  1200,0
1      30   Salvador       0
2      35   Curitiba  4000,0
3     400  Sao Paulo       0
4      45   Salvador  5000,0
5      50   Curitiba  1500,0
6     554  Sao Paulo       0
7      60   Salvador       0
8      60   salvador       0
9      24    Curtiba  3000,0
10    233  São Paulo  2500,0
11     70  São Paulo  3000,0
12     26   salvador       0

In [ ]:
df['Salario'] = df['Salario'].str.replace(',', '.')
# Necessidade de trocar pontos por vírgula devido a configuração do sistema
# convertendo o type dos dados
df['Salario'] = df['Salario'].astype(float)
df['Salario'].mean()

In [66]:
media_salario = df['Salario'].mean()
print(media_salario)

1553.8461538461538