In [12]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

# Carregar o data frame
df = pd.read_csv('/content/CHURN_TELECON_TAREFA .csv' , delimiter=';')

df.head(10)

# Visualização do data frame

,customerID,Genero,Idoso,Casado,Dependents,Tempo_como_Cliente,PhoneService,Servico_Internet,Servico_Seguranca,Suporte_Tecnico,StreamingTV,Tipo_Contrato,PaymentMethod,Pagamento_Mensal,Total_Pago,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,DSL,No,No,No,Month-to-month,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,DSL,Yes,No,No,One year,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,DSL,Yes,No,No,Month-to-month,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,DSL,Yes,Yes,No,One year,Bank transfer (automatic),NaN,1840.75,No
4,9237-HQITU,NaN,0,No,No,2,Yes,Fiber optic,No,No,No,Month-to-month,Electronic check,NaN,151.65,Yes
5,9305-CDSKC,NaN,0,No,No,8,Yes,Fiber optic,No,No,Yes,Month-to-month,Electronic check,NaN,820.50,NaN
6,1452-KIOVK,NaN,0,No,Yes,22,Yes,Fiber optic,No,No,Yes,Month-to-month,Credit card (automatic),NaN,1949.40,NaN
7,6713-OKOMC,NaN,0,No,No,10,No,DSL,Yes,No,No,Month-to-month,Mailed check,NaN,301.90,NaN
8,7892-POOKP,NaN,0,Yes,No,28,Yes,Fiber optic,No,Yes,Yes,Month-to-month,Electronic check,NaN,3046.05,NaN
9,6388-TABGU,NaN,0,No,Yes,62,Yes,dsl,Yes,No,No,One year,Bank transfer (automatic),NaN,3487.95,NaN

In [13]:
# Verificando tipos de dados
df.dtypes

customerID             object
Genero                 object
Idoso                   int64
Casado                 object
Dependents             object
Tempo_como_Cliente      int64
PhoneService           object
Servico_Internet       object
Servico_Seguranca      object
Suporte_Tecnico        object
StreamingTV            object
Tipo_Contrato          object
PaymentMethod          object
Pagamento_Mensal      float64
Total_Pago            float64
Churn                  object
dtype: object

In [14]:
#Este código retornará True se houver algum valor nulo em qualquer lugar do DataFrame, e False caso contrário.
df.isnull().values.any()

np.True_

In [15]:
# Removendo e Tratando dados nulos

valores_nulos = df.isnull().sum()
print(valores_nulos)

porcentagem_nulos = (valores_nulos / len(df)) * 100
print(porcentagem_nulos)

df['PhoneService'] = df['PhoneService'].fillna('no')

df['Pagamento_Mensal'] = pd.to_numeric(df['Pagamento_Mensal'], errors='coerce')

media_pagamento_mensal = df['Pagamento_Mensal'].mean()
#print([df['Pagamento_Mensal'].mean()])

df['Pagamento_Mensal'] = df['Pagamento_Mensal'].fillna(media_pagamento_mensal)

df['Churn'] = df['Churn'].fillna('Yes')

# Como não é indicado definir a variável Genero pois altera diretamente nosso publico optei por deletar linhas faltantes de sexo masculino ou feminino.
df = df.dropna(subset=['Genero'])

valores_nulos = df.isnull().sum()
#print(valores_nulos)

porcentagem_nulos = (valores_nulos / len(df)) * 100
print('Revisão:\n', porcentagem_nulos)

customerID               0
Genero                  12
Idoso                    0
Casado                   0
Dependents               0
Tempo_como_Cliente       0
PhoneService          1482
Servico_Internet         0
Servico_Seguranca        0
Suporte_Tecnico          0
StreamingTV              0
Tipo_Contrato            0
PaymentMethod            0
Pagamento_Mensal       325
Total_Pago               0
Churn                    5
dtype: int64
customerID             0.00
Genero                 0.48
Idoso                  0.00
Casado                 0.00
Dependents             0.00
Tempo_como_Cliente     0.00
PhoneService          59.28
Servico_Internet       0.00
Servico_Seguranca      0.00
Suporte_Tecnico        0.00
StreamingTV            0.00
Tipo_Contrato          0.00
PaymentMethod          0.00
Pagamento_Mensal      13.00
Total_Pago             0.00
Churn                  0.20
dtype: float64
Revisão:
 customerID            0.0
Genero                0.0
Idoso                 0.0
Casado                0.0
Dependents            0.0
Tempo_como_Cliente    0.0
PhoneService          0.0
Servico_Internet      0.0
Servico_Seguranca     0.0
Suporte_Tecnico       0.0
StreamingTV           0.0
Tipo_Contrato         0.0
PaymentMethod         0.0
Pagamento_Mensal      0.0
Total_Pago            0.0
Churn                 0.0
dtype: float64

In [16]:
# Filtrar dados escritos errados

df.loc[:, 'Genero'] = df['Genero'].replace(['f', 'F'], 'Female')
df.loc[:, 'Genero'] = df['Genero'].replace(['m', 'M'], 'Male')
print(df['Genero'].unique())

df.loc[:, 'Casado'] = df['Casado'].replace(['yes', 'y'], 'Yes')
df.loc[:, 'Casado'] = df['Casado'].replace(['no', 'n'], 'No')
print(df['Casado'].unique())

df.loc[:, 'Dependents'] = df['Dependents'].replace(['yes', 'y'], 'Yes')
df.loc[:, 'Dependents'] = df['Dependents'].replace(['no', 'n'], 'No')
print(df['Dependents'].unique())

df.loc[:, 'PhoneService'] = df['PhoneService'].replace(['yes', 'y'], 'Yes')
df.loc[:, 'PhoneService'] = df['PhoneService'].replace(['no', 'n'], 'No')
print(df['PhoneService'].unique())

df.loc[:, 'Servico_Internet'] = df['Servico_Internet'].replace(['dsl'], 'DSL')
print(df['Servico_Internet'].unique())

df.loc[:, 'Servico_Seguranca'] = df['Servico_Seguranca'].replace(['No internet service'], 'No')
print(df['Servico_Seguranca'].unique())

df.loc[:, 'Suporte_Tecnico'] = df['Suporte_Tecnico'].replace(['No internet service'], 'No')
print(df['Servico_Seguranca'].unique())

df.loc[:, 'StreamingTV'] = df['StreamingTV'].replace(['No internet service'], 'No')
print(df['StreamingTV'].unique())

['Female' 'Male']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['DSL' 'No' 'Fiber optic']
['No' 'Yes']
['No' 'Yes']
['No' 'Yes']

In [17]:
# Valores estatísticos do Pagamento_Mensal

media = df['Pagamento_Mensal'].mean()
print('media:',media)

mediana = df['Pagamento_Mensal'].median()
print('mediana:',mediana)

moda = df['Pagamento_Mensal'].mode()
print('moda:',moda)

df['Pagamento_Mensal'].describe()

media: 65.60756321839081
mediana: 65.60756321839081
moda: 0    65.607563
Name: Pagamento_Mensal, dtype: float64

count    2488.000000
mean       65.607563
std        27.984700
min        18.400000
25%        45.400000
50%        65.607563
75%        87.712500
max       118.650000
Name: Pagamento_Mensal, dtype: float64